In [1]:
import numpy as np
import pandas as pd

In [5]:
data = np.load("/data/uob/rf_results_dataframe.npz")["DF"]

In [8]:
data.shape

(400, 9)

In [12]:
df = pd.DataFrame.from_records(data)

In [13]:
df.describe()

,0,1,2,3,4,5,6,7,8
count,400.000000,400.000000,400.000000,400.0,400.000000,400.000000,400.000000,400.000000,400.000000
mean,21.000000,105.000000,0.107306,1.0,0.544633,12.635107,8.971863,26.077353,101.514220
std,11.547005,57.735027,0.056830,0.0,0.082216,18.154453,5.582123,0.353943,0.281610
min,2.000000,10.000000,0.043904,1.0,0.490000,1.219375,4.892707,25.758102,100.687500
25%,11.500000,57.500000,0.062596,1.0,0.514832,4.882721,6.183061,25.808542,101.488607
50%,21.000000,105.000000,0.095195,1.0,0.522017,7.523412,6.943738,25.942053,101.520289
75%,30.500000,152.500000,0.140604,1.0,0.529507,11.230249,8.118957,26.182969,101.639847
max,40.000000,200.000000,0.276042,1.0,0.880000,83.500000,24.687500,27.187500,101.984375